.footer{background-color: aquamarine;}
.sos{display: flex;
justify-content: space-between;}
body{background-image: url("./1080728266853547b19284.89385942fon.png");
color: rgb(255, 255, 255);}
.logo{display: flex;}
.chest{display: flex;}
.punkt{display: flex;
margin-left: 20px;
margin-right: 15px;}
.link{background-color: black; 
text-align: end;}
.text{display: flex;}
.img{background-color: black;}      
.position{position: absolute; 
left: 40%;
bottom: 75%;}
.Login{margin-top: 20px; 
    margin-bottom: 20px;
justify-content: space-between;}
.sos{margin-top: 25px;
margin-bottom: 20px;}
.buttons{display: flex; 
justify-content: flex-start;
justify-content: center;}
.Download{padding-right: 20px; 
;}
.download1{margin-right: 30px;}
.donat{margin-right: 30px;}
.download2 {padding-bottom: 45px;}
.titl1{font-size: 40px;
font-family: Roboto;}
.imgs{justify-content: center;}
.grass{margin-bottom: 25px;
margin-top: 20px;
margin-left: 15px;
}
.chest1{margin-bottom: 25px;
margin-left: 15px;}
.creeper{margin-bottom: 25px;
margin-left: 15px;}
.log1{padding-bottom: 2;}